<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}<title>Gerenciamento Cliente</title>{% endblock %}
  </head>
  <body>

    {% block content %}
    <h1>GERENCIAMENTO CLIENTE</h1>

    <button><a href="{% url 'cadastro' %}">Cadastrar</a></button><br><br>
    <button><a href="{% url 'consulta' %}">Consultar</a></button>

    <!--
    <h2>Preciso de conteudo dinamico aqui?</h2>
    <p>Temos a seguinte quantidade de clientes cadastrado:</p>
    <ul>
        <li><strong>clientes:</strong> {{ num_cliente }}</li>
    </ul>
    {% endblock %}
    -->


  </body>
</html>
